<%= form_for @volunteer do |f| %>
	<% if @volunteer.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @volunteer.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%=f.label :first_name %>
		<%=f.text_field :first_name %>
	</div>
	<div>
		<%=f.label :last_name %>
		<%=f.text_field :last_name %>
	</div>
	<div>
		<%=f.label :msu_id, "MSU ID" %>
		<%=f.text_field :msu_id %>
	</div>
	<div>
		<%=f.label :email %>
		<%=f.email_field :email %>
	</div>
	<div>
		<%=f.label :phone %>
		<%=f.text_field :phone %>
	</div>
	<div>
		<%=f.label :ref_instructor %>
		<%=f.text_field :ref_instructor %>
	</div>

	<h5>Assign a Task</h5>
	<div>
		<%= f.label :task_id, "Task Name" %>
		<%= collection_select(:volunteer, :task_id, @tasks, :id, :name, prompt: "Select A Task") %> 
	</div>

	<% if @volunteer.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Volunteer" %>
	<% end %>


<%end%>