<%= form_for @volunteer do |f| %>
	<!-- If page was reloaded due to errors, display errors -->
	<% if @volunteer.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @volunteer.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- Display for fields for data entry, prepopulated if data already exists -->
	<!-- Only manager can edit the volunteer information -->
	<% if is_manager? || !is_logged_in? %>
		<div>
			<%=f.label :first_name %>
			<%=f.text_field :first_name %>
		</div>
		<div>
			<%=f.label :last_name %>
			<%=f.text_field :last_name %>
		</div>
		<div>
			<%=f.label :msu_id, "MSU ID" %>
			<%=f.text_field :msu_id %>
		</div>
		<div>
			<%=f.label :email %>
			<%=f.email_field :email %>
		</div>
		<div>
			<%=f.label :phone %>
			<%=f.text_field :phone %>
		</div>
		<div>
			<%=f.label :ref_instructor %>
			<%=f.text_field :ref_instructor %>
		</div>
	<% end %>

	<% if is_logged_in? %>
		<!-- Only managers and taskmasters can access this page
			so no need for further authentication at this stage -->
		<h5>Assign a Task</h5>
		<div>
			<%= f.label :task_id, "Task Name" %>
			<%= collection_select(:volunteer, :task_id, @tasks, :id, :name, prompt: "Select A Task") %> 
		</div>
	<% end %>
	<!-- If volunteer is already created, we're saving changes
		otherwise it would be a new volunteer and we need to add the record -->	
	<% if @volunteer.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<% if is_logged_in? %>
			<%= f.submit "Add Volunteer" %>
		<% else %>
			<%= f.submit "Sign Up!" %>
		<% end %>
	<% end %>


<%end%>