<h1>Volunteers
<%= link_to "Add a Volunteer", new_volunteer_path, class: "btn btn-new"%>
</h1>
<!-- List the current volunteers in the database -->
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th width="30%">Name</th>
      <th width="40%">Task</th>
      <th width="30%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @volunteers.each do |volunteer| %>
      <tr>
        <td><%= volunteer.full_name %></td>
        <td><%= (volunteer.task) ? volunteer.task.name : "Not assigned" %></td>
        <td>
          <%= link_to "Show", volunteer_path(volunteer), class: "btn btn-show" %>
          <%= link_to "Edit", edit_volunteer_path(volunteer), class: "btn btn-edit" %>
          <% if is_manager? %>
            <%= link_to "Delete", volunteer_path(volunteer), method: :delete, confirm: "Are you sure?", class: "btn btn-delete" %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>
<%= link_to "Download as CSV", volunteers_path(format: "csv"), class: "btn" %>
<%= link_to "Reset Volunteers", reset_volunteers_path, method: :delete, confirm: "Are you sure?", class: "btn btn-delete" %>
