<h1><%= @volunteer.full_name %> <% if is_manager? %><%= link_to "Edit", edit_volunteer_path(@volunteer), class: "btn btn-edit" %><% end %></h1>

<!-- Display volunteer information -->
<table border="0" cellspacing="0" cellpadding="3" class="alt">
	<tr><th>First Name:</th><td><%= @volunteer.first_name %></td></tr>
	<tr><th>Last Name:</th><td><%= @volunteer.last_name %></td></tr>
	<tr><th>MSU ID:</th><td><%= @volunteer.msu_id %></td></tr>
	<tr><th>Email:</th><td><%= @volunteer.email %></td></tr>
	<tr><th>Phone Number:</th><td><%= @volunteer.phone %></td></tr>
	<tr><th>Referred Instructor:</th><td><%= @volunteer.ref_instructor %></td></tr>
	<tr><th>Task:</th><td><%= (@volunteer.task) ? @volunteer.task.name : "Not assigned" %></td>
</tr>
</table>