<h2><%= @volunteer.full_name %></h2>

<p><strong>First Name:</strong> <%= @volunteer.first_name %></p>
<p><strong>Last Name:</strong> <%= @volunteer.last_name %></p>
<p><strong>MSU ID:</strong> <%= @volunteer.msu_id %></p>
<p><strong>Email:</strong> <%= @volunteer.email %></p>
<p><strong>Phone Number:</strong> <%= @volunteer.phone %></p>
<p><strong>Referred Instructor:</strong> <%= @volunteer.ref_instructor %></p>
<p><strong>Task:</strong> <%= @volunteer.task.name %></p>
<p><%= link_to "Back", volunteers_path %></p>