<%= form_for @team do |f| %>
	<div>
		<%=f.label:number %><br>
		<%=f.number_field:number %>
	</div>
	<div>
		<%=f.label:color %><br>
		<%=f.text_field:color %>
	</div>

	<% if @team.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Team" %>
	<% end %>

<%end%>
