<%= form_for @team do |f| %>
	<!-- If page was reloaded due to errors, display errors -->
	<% if @team.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @team.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- Display for fields for data entry, prepopulated if data already exists -->
	<!-- Only the manager can create the teams -->
	<% if is_manager? %>
		<div>
			<%=f.label :color %>
			<%=f.text_field :color %>
		</div>
		<div>
			<%=f.label :number %>
			<%=f.number_field :number %>
		</div>
	<% end %>
	<!-- Scores only displayed if team already exists -->
	<% if @team.id %>
		<% if is_manager? %>
			<br>
			<div>
				<%= f.label :room_1 %>
				<%= collection_select(:team, :room_1, @leaders, :room, :room, prompt: "Select A Room") %> 
			</div>
			<div>
				<%= f.label :room_2 %>
				<%= collection_select(:team, :room_2, @leaders, :room, :room, prompt: "Select A Room") %> 
			</div>
			<div>
				<%= f.label :room_3 %>
				<%= collection_select(:team, :room_3, @leaders, :room, :room, prompt: "Select A Room") %> 
			</div>
			<div>
				<%= f.label :room_4 %>
				<%= collection_select(:team, :room_4, @leaders, :room, :room, prompt: "Select A Room") %> 
			</div>
		<% end %>
		<br>
		<div>
			<%= f.label :score_one %>
			<%= f.number_field :score_one %>
		</div>
		<div>
			<%= f.label :score_two %>
			<%= f.number_field :score_two %>
		</div>
		<div>
			<%= f.label :score_three %>
			<%= f.number_field :score_three %>
		</div>
		<div>
			<%= f.label :score_four %>
			<%= f.number_field :score_four %>
		</div>

	<% end %>

	<!-- If team is already created, we're saving changes
		otherwise it would be a new team and we need to add the record -->	
	<% if @team.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Team" %>
	<% end %>

<%end%>
