<%= form_for @team do |f| %>
	<% if @team.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @team.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<% if is_manager? %>
		<div>
			<%=f.label :number %>
			<%=f.number_field :number %>
		</div>
		<div>
			<%=f.label :color %>
			<%=f.text_field :color %>
		</div>
	<% end %>
	<% if @team.id %>
		<div>
			<%= f.label :score_one %>
			<%= f.number_field :score_one %>
		</div>
		<div>
			<%= f.label :score_two %>
			<%= f.number_field :score_two %>
		</div>
		<div>
			<%= f.label :score_three %>
			<%= f.number_field :score_three %>
		</div>
		<div>
			<%= f.label :score_four %>
			<%= f.number_field :score_four %>
		</div>
	<% end %>
	<% if @team.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Team" %>
	<% end %>

<%end%>
