<h1>Teams
  <!-- Only managers can manually create teams -->
  <% if is_manager? %>
    <%= link_to "Add a Team", new_team_path, class: "btn btn-new"%>
  <% end %>
</h1>
<!-- List the current teams in the database -->
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th width="50%">Name</th>
      <th width="10%">Members</th>
      <th width="10%">Score</th>
      <th width="30%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.team_name %></td>
        <td><%= team.competitors.count %></td>
        <td><%= team.total_score %></td>
        <td>
          <%= link_to "Show", team_path(team), class: "btn btn-show" %>
          <%= link_to "Edit", edit_team_path(team), class: "btn btn-edit" %>
          <% if is_manager? %>
            <%= link_to "Delete", team_path(team), method: :delete, confirm: "Are you sure?", class: "btn btn-delete" %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>
<%= link_to "Download as CSV", teams_path(format: "csv"), class: "btn" %>
