<h1>Team <%= @team.team_name %> <%= link_to "Edit", edit_team_path(@team), class: "btn btn-edit" %></h1>

<h5 class="score-header">Scores</h5>
<div class="score-row">
	<div><span><%= @team.score_one || "?" %></span><strong>Score 1</strong></div>
	<div><span><%= @team.score_two || "?" %></span><strong>Score 2</strong></div>
	<div><span><%= @team.score_three || "?" %></span><strong>Score 3</strong></div>
	<div><span><%= @team.score_four || "?" %></span><strong>Score 4</strong></div>
</div>

<div class="total-score">Total Score: <%= @team.total_score %></div>
<hr>
<h5>Team Members</h5>
<table border="0" cellspacing="0" cellpadding="0">
	<thead>
    	<tr>
      		<th width="40%">Name</th>
      		<th width="30%">School</th>
      		<th width="30%">Actions</th>
    	</tr>
  	</thead>
  	<tbody>
		<% @team.competitors.each do |competitor| %>
	  		<tr>
		  		<td><%= competitor.full_name %></td>
		  		<td><%= (competitor.school) ? competitor.school.school_name : 'Not Assigned' %></td>
		  		<td><%= link_to "Show", competitor_path(competitor), class: "btn btn-show" %> <%= link_to "Edit", edit_competitor_path(competitor), class: "btn btn-edit" %>  <%= link_to "Delete", competitor_path(competitor), method: :delete, confirm: "Are you sure?", class: "btn btn-delete" %></td>
	  		</tr>
		<% end %>
  	</tbody>
</table>
