<%= form_for @leader do |f| %>
	<% if @leader.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @leader.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%=f.label :first_name %>
		<%=f.text_field :first_name %>
	</div>
	<div>
		<%=f.label :last_name %>
		<%=f.text_field :last_name %>
	</div>
	<div>
		<%=f.label :user_name %>
		<%=f.text_field :user_name %>
	</div>
	<div>
		<%=f.label :password %>
		<%=f.text_field :password %>
	</div>
	<div>
		<%=f.label :room %>
		<%=f.text_field :room %>
	</div>
	<div>
		<%=f.label :security_level %>
		<label>
			<%=f.radio_button :security_level, "default" %>
			Default
		</label>
		<label>
			<%=f.radio_button :security_level, "taskmaster" %>
			Task Master
		</label>
	</div>

	<% if @leader.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Leader" %>
	<% end %>

<%end%>