<h1><%= @leader.full_name %> <%= link_to "Edit", edit_leader_path(@leader), class: "btn btn-edit" %></h1>

<!-- Display leader information -->
<table border="0" cellspacing="0" cellpadding="3" class="alt">
	<tr><th>First Name:</th><td><%= @leader.first_name %></td></tr>
	<tr><th>Last Name:</th><td><%= @leader.last_name %></td></tr>
	<tr><th>User Name:</th><td><%= @leader.user_name %></td></tr>
	<tr><th>Password:</th><td><%= @leader.password %></td></tr>
	<tr><th>Room:</th><td><%= @leader.room %></td></tr>
	<tr><th>Security Level:</th><td><%= @leader.security_level %></td></tr>
</table>