<h2><%= @leader.full_name %></h2>

<p><strong>First Name:</strong> <%= @leader.first_name %></p>
<p><strong>Last Name:</strong> <%= @leader.last_name %></p>
<p><strong>User Name:</strong> <%= @leader.user_name %></p>
<p><strong>Password:</strong> <%= @leader.password %></p>
<p><strong>Room:</strong> <%= @leader.room %></p>
<p><strong>Security Level:</strong> <%= @leader.security_level %></p>

<p><%= link_to "Back", leaders_path %></p>