<h1>Managers
<%= link_to "Add a Manager", new_manager_path, class: "btn btn-new"%>
</h1>
<!-- List the current managers in the database -->
<table border="0" cellspacing="0" cellpadding="0">
  <thead>
    <tr>
      <th width="30%">Username</th>
      <th width="40%">Email</th>
      <th width="30%">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    <% @managers.each do |manager| %>
      <tr>
        <td><%= manager.user_name %></td>
        <td><%= manager.email %></td>
        <td>
          <%= link_to "Show", manager_path(manager), class: "btn btn-show" %> 
          <%= link_to "Edit", edit_manager_path(manager), class: "btn btn-edit" %> 
          <% if manager.id != session[:user] %>
            <%= link_to "Delete", manager_path(manager), method: :delete, confirm: "Are you sure?", class: "btn btn-delete" %>
          <% end %>
        </td>
      </tr>
    <%end%>
  </tbody>
</table>
<br>
<<!-- Manager is the only one able to download the archive csv -->
% if is_manager? %>
  <%= link_to "Download as CSV", managers_path(format: "csv"), class: "btn" %>
<% end %>
