<h1><%= @manager.user_name %> <%= link_to "Edit", edit_manager_path(@manager), class: "btn btn-edit" %></h1>

<table border="0" cellspacing="0" cellpadding="3" class="alt">
	<tr><th>User Name:</th><td><%= @manager.user_name %></td></th>
	<tr><th>Password:</th><td><%= @manager.password %></td></th>
	<tr><th>Email:</th><td><%= @manager.email %></td></th>
</table>