<h2><%= @manager.user_name %></h2>

<p><strong>User Name:</strong> <%= @manager.user_name %></p>
<p><strong>Password:</strong> <%= @manager.password %></p>
<p><strong>Email:</strong> <%= @manager.email %></p>

<p><%= link_to "Back", managers_path %></p>