<h1>Settings</h1>

<!-- Table displaying current system settings, with option to save the settings -->
<%= form_tag save_all_settings_path do %>

	<div>
		<strong>Online?</strong><br>
		<% if @online == "yes" %>
			<label><%=radio_button_tag :online, "yes", checked: true %> Yes</label>
			<label><%=radio_button_tag :online, "no" %> No</label>
		<% else %>
			<label><%=radio_button_tag :online, "yes" %> Yes</label>
			<label><%=radio_button_tag :online, "no", checked: true %> No</label>
		<% end %>
	</div>
	<br>
	<div>
		<strong>Require School Password?</strong><br>
		<% if @require_school_password == "yes" %>
			<label><%=radio_button_tag :require_school_password, "yes", checked: true %> Yes</label>
			<label><%=radio_button_tag :require_school_password, "no" %> No</label>
		<% else %>
			<label><%=radio_button_tag :require_school_password, "yes" %> Yes</label>
			<label><%=radio_button_tag :require_school_password, "no", checked: true %> No</label>
		<% end %>
	</div>


	<%= submit_tag "Save Changes" %>
<% end %>

