<%= form_for @competitor do |f| %>
	<% if @competitor.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @competitor.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<div>
		<%= f.label :school_id, "School" %><br>
		<%= collection_select(:competitor, :school_id, @schools, :id, :school_name, prompt: "Select A School") %> 
	</div>
	<div>
		<%=f.label :first_name %><br>
		<%=f.text_field :first_name %>
	</div>
	<div>
		<%=f.label :last_name %><br>
		<%=f.text_field :last_name %>
	</div>
	<div>
		<%=f.label :address_line_1 %><br>
		<%=f.text_field :address_line_1 %>
	</div>
	<div>
		<%=f.label :address_line_2 %><br>
		<%=f.text_field :address_line_2 %>
	</div>
	<div>
		<%=f.label :city %><br>
		<%=f.text_field :city %>
	</div>
	<div>
		<%=f.label :state %><br>
		<%=f.text_field :state %>
	</div>
	<div>
		<%=f.label :zip %><br>
		<%=f.number_field :zip %>
	</div>
	<div>
		<%=f.label :grade, "Junior or Senior" %><br>
		<%=f.radio_button :grade, "junior" %>
		<%=f.label :grade, "Junior" %>
		<%=f.radio_button :grade, "senior" %>
		<%=f.label :grade, "Senior" %>
	</div>
	<div>
		<%=f.label :email %><br>
		<%=f.email_field :email %>
	</div>

	<div>
		<%= f.label :team_id, "Team" %><br>
		<%= collection_select(:competitor, :team_id, @teams, :id, :team_name, prompt: "Select A Team") %> 
	</div>


	<% if @competitor.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Competitor" %>
	<% end %>
<%end%>

