<!-- Set up the form for competitor data entry -->

<%= form_for @competitor do |f| %>
	<!-- If page was reloaded due to errors, display errors -->
	<% if @competitor.errors.any? %>
		<div id="errors">
			<h5>Something Went Wrong</h5>
			<ul>
				<% @competitor.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<!-- If this page was accessed with school level security
		then the school the student belongs to will be set automatically -->
	<% if is_school? %>
		<%= f.hidden_field :school_id, value: session[:user] %>
	<% else %>
		<!-- If this page was not accessed with school level security
			then we used manager level, and manager can manually set school -->
		<div>
			<%= f.label :school_id, "School" %>
			<%= collection_select(:competitor, :school_id, @schools, :id, :school_name, prompt: "Select A School") %> 
		</div>
	<% end %>
	<div>
		<%=f.label :first_name %>
		<%=f.text_field :first_name %>
	</div>
	<div>
		<%=f.label :last_name %>
		<%=f.text_field :last_name %>
	</div>
	<div>
		<%=f.label :address_line_1 %>
		<%=f.text_field :address_line_1 %>
	</div>
	<div>
		<%=f.label :address_line_2 %>
		<%=f.text_field :address_line_2 %>
	</div>
	<div>
		<%=f.label :city %>
		<%=f.text_field :city %>
	</div>
	<div>
		<%=f.label :state %>
		<%=f.text_field :state %>
	</div>
	<div>
		<%=f.label :zip %>
		<%=f.number_field :zip %>
	</div>
	<div>
		<%=f.label :grade %>
		<label>
			<%=f.radio_button :grade, "junior" %>
			Junior
		</label>
		<label>
			<%=f.radio_button :grade, "senior" %>
			Senior
		</label>
	</div>
	<div>
		<%=f.label :email %>
		<%=f.email_field :email %>
	</div>

	<!-- Manager can edit the team the student belongs to -->
	<% if is_manager? %>
		<div>
			<%= f.label :team_id, "Team" %>
			<%= collection_select(:competitor, :team_id, @teams, :id, :team_name, prompt: "Select A Team") %> 
		</div>
	<% end %>

	<!-- If competitor is already created, we're saving changes
		otherwise it would be a new competitor and we need to add the record -->	
	<% if @competitor.id %>
		<%= f.submit "Save Changes" %>
	<% else %>
		<%= f.submit "Add Competitor" %>
	<% end %>
<%end%>

