<h2><%= @competitor.full_name %></h2>

<p><strong>First Name:</strong> <%= @competitor.first_name %></p>
<p><strong>Last Name:</strong> <%= @competitor.last_name %></p>
<p><strong>Address Line 1:</strong> <%= @competitor.address_line_1 %></p>
<p><strong>Address Line 2:</strong> <%= @competitor.address_line_2 %></p>
<p><strong>City:</strong> <%= @competitor.city %></p>
<p><strong>State:</strong> <%= @competitor.state %></p>
<p><strong>Zip Code:</strong> <%= @competitor.zip %></p>
<p><strong>Grade:</strong> <%= @competitor.grade %></p>
<p><strong>Email:</strong> <%= @competitor.email %></p>
<p><strong>School:</strong> <%= @competitor.school.school_name %></p>
<p><strong>Team:</strong> <%= @competitor.team.team_name %></p>
<p><%= link_to "Back", competitors_path %></p>