<h1><%= @school.school_name %> <%= link_to "Edit", edit_school_path(@school), class: "btn btn-edit" %></h1>

<table border="0" cellspacing="0" cellpadding="3" class="alt">
	<tr><th>School Name:</th><td><%= @school.school_name %></td></tr>
	<tr><th>Username:</th><td><%= @school.user_name %></td></tr>
	<tr><th>Password:</th><td><%= @school.password %></td></tr>
	<tr><th>Address Line 1:</th><td><%= @school.address_line_1 %></td></tr>
	<tr><th>Address Line 2:</th><td><%= @school.address_line_2 %></td></tr>
	<tr><th>City:</th><td><%= @school.city %></td></tr>
	<tr><th>State:</th><td><%= @school.state %></td></tr>
	<tr><th>Zip Code:</th><td><%= @school.zip %></td></tr>
	<tr><th>Phone Number:</th><td><%= @school.phone %></td></tr>
	<tr><th>Teachers Attending:</th><td><%= @school.teachers_attending %></td></tr>
</table>
<hr>
<h5>
	Students From This School
	<%= link_to "Add Competitor", new_competitor_path, class: "btn btn-new" %>
</h5> 
<table border="0" cellspacing="0" cellpadding="0">
	<thead>
    	<tr>
      		<th width="50%">Name</th>
      		<th width="20%">Team</th>
      		<th width="30%">&nbsp;</th>
    	</tr>
  	</thead>
  	<tbody>
		<% @school.competitors.each do |competitor| %>
	  		<tr>
		  		<td><%= competitor.full_name %></td>
		  		<td><%= (competitor.team) ? competitor.team.team_name : 'Not Assigned' %></td>
		  		<td>
		  			<%= link_to "Show", competitor_path(competitor), class: "btn btn-show" %>
			        <% if is_manager? %>
			  			<%= link_to "Edit", edit_competitor_path(competitor), class: "btn btn-edit" %>
			  			<%= link_to "Delete", competitor_path(competitor), method: :delete, confirm: "Are you sure?", class: "btn btn-delete" %>
			  		<% end %>
		  		</td>
	  		</tr>
		<% end %>
  	</tbody>
</table>
