<!DOCTYPE html>
<html>
<head>
  <title>Mpate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <header>
    <!-- Create the header of the page to display navigation options
      which are only displayed to appropriate security levels -->
    <h1><%= link_to "MPATE", root_path %></h1>
    <nav>
      <ul>
        <% if is_logged_in? %>
          <% if is_manager? %>
            <li><%= link_to "Competitors", competitors_path %></li>
            <li><%= link_to "Leaders", leaders_path %></li>
            <li><%= link_to "Managers", managers_path %></li>
            <li><%= link_to "Schools", schools_path %></li>
          <% end %>
          <% if is_manager? || is_taskmaster? %>
            <li><%= link_to "Tasks", tasks_path %></li>
            <li><%= link_to "Volunteers", volunteers_path %></li>
          <% end %>
          <% if is_manager? || is_leader? %>
            <li><%= link_to "Teams", teams_path %></li>
          <% end %>
          <% if is_manager? %>
            <li><%= link_to "Results", results_path %></li>
            <li><%= link_to "Settings", settings_path %></li>
          <% end %>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Log In", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </header>
  <div id="main">
    <% flash.each do |name, msg| %>
      <div class="flash-<%=name%>"><%=msg%></div>
    <% end %>
    <%= yield %>
  </div>
  <footer>
    <%= link_to "Home", root_path %>
  </footer>
</body>
</html>
