<!DOCTYPE html>
<html>
<head>
  <title>Mpate</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="container">
  <header>
    <h1><%= link_to "MPATE", root_path %></h1>
    <nav>
      <ul>
        <li><%= link_to "Competitors", competitors_path %></li>
        <li><%= link_to "Leaders", leaders_path %></li>
        <li><%= link_to "Managers", managers_path %></li>
        <li><%= link_to "Schools", schools_path %></li>
        <li><%= link_to "Tasks", tasks_path %></li>
        <li><%= link_to "Teams", teams_path %></li>
        <li><%= link_to "Volunteers", volunteers_path %></li>
      </ul>
    </nav>
  </header>
  <div id="main">
    <%= yield %>
  </div>
  <footer>
    <%= link_to "Home", root_path %>
  </footer>
</body>
</html>
